.website{
    background-color: #fef4f4;
    &__mask{
        top: 1.8rem;
        right: -11rem;
        width: 400px;                 
        height: 400px;
    }

    &__header{
        position: relative;
        height: 100%;
        height: 465px;

        &-brand{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top: 2rem;
        }
        &-brandName{
            font-size: 4rem;
            color: #503a3a;
        }
        &-img{
            position: absolute;
            height: 400px;
            bottom: -1rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__navbar{
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        height: 4rem;
        &-brand{
            width: 80px;
            height: 80px;
        }
    }

    @media (min-width: 560px) {
        &__mask{
            top: 1.8rem;
            right: -5rem;
        }
        &__header{
            &-brandName{
                font-size: 6rem;
                color: #503a3a;
            }
        }
    }
    @media (min-width: 768px) {
        &__mask{
            height: 500px;
            width: 500px;
        }
        &__header{
            height: 565px;
            &-brandName{
                font-size: 6rem;
            }
            &-img{
                height: 604px;
                bottom: -10rem;
            }
        }
    }
    @media (min-width: 1024px) {
        &__mask{
            height: 600px;
            width: 600px;
        }
        &__header{
            height: 665px;
            &-brandName{
                font-size: 7rem;
            }
            &-img{
                height: 700px;
                bottom: -9rem;
            }
        }
    }
}