.mask {
  position: absolute;                
  background-color: #F6E8D0;    
  border-radius: 50px;
  box-shadow: 
      30px 30px 0 -10px #F6E8D0,
      -30px -30px 0 -10px #F6E8D0, 
      -40px 20px 0 -10px #F6E8D0,  
      40px -20px 0 -10px #F6E8D0,
      -20px 40px 0 -10px #F6E8D0,
      20px -40px 0 -10px #F6E8D0;
}
  
  
  