.cars{
    padding: 2rem;
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        margin: 2rem 0; 
    }

    &__title{
        font-size: 2rem;
        color: #503a3a;
        font-weight: 600;
    }
}